ion-grid {
  padding: 8px;
}

ion-col {
  padding: 4px;
}

.icon-button {
  height: 60px;
  width: 60px;
  margin: 0;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
  p {
    font-size: 16px;
  }
}